@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
body {
  background-color: #171321;
  /* background-size: 100vw 100vh; */
}
.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
}
/*Estilos para el encabezado*/
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid #961d6e;
  background-color: rgba(9, 8, 13, 0.99);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.logo img {
  float: left;
  width: 90px;
  height: 90px;
}
.logo img:hover {
  width: 95px;
  height: 95px;
}
/* .logo a {
  float: left;
  line-height: 100px;
  font-size: 30px;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}
.logo a:hover {
  font-size: 35px;
} */
.container .btn-menu {
  float: right;
  line-height: 100px;
}
.container .btn-menu label {
  display: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.container .menu {
  float: right;
  line-height: 95px;
}
.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}
.container .menu a:hover {
  border-bottom: 2px solid #961d6e;
  padding-bottom: 5px;
  font-size: 105%;
}
.menu a {
  position: relative;
}
.tooltip {
  display: none;
  position: absolute;
  background: rgba(9, 8, 13, 0.99);
  line-height: 20px;
  z-index: 500;
  text-align: center;
  /* color: fff; */
  font-size: 14px;
  padding: 4px /* 10px */;
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 55px;
}
.tooltip::after {
  content: "";
  display: block;
  border-bottom: 7px solid#ffe742;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: -7px;
  left: calc(50% - 7px);
}
.menu a:hover .tooltip {
  display: inline-block;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
  display: none;
}
.container-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}
.cont-menu {
  width: 100%;
  max-width: 50%;
  background: rgba(9, 8, 13, 0.99);
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
  border-right: 5px solid rgba(159, 29, 110, 0.5);
  transition: all 400ms ease;
}
.btn-equis label {
  padding: 10px;
  float: right;
  color: #fff;
  cursor: pointer;
}
.btn-equis label:hover {
  background: rgba(159, 29, 110, 0.5);
}
#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}
.cont-menu nav {
  transform: translateY(35%);
}
.cont-menu nav a {
  font-size: 20px;
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.cont-menu nav a:hover {
  border-left: 5px solid #961d6e;
  background: #1f1f1f;
  font-size: 25px;
}
.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
/*Fin de Menù lateral*/

/*Home*/
.box {
  width: 100%;
}
#home {
  /* height: 390px; */
  height: 100vh;
  margin: 0 auto;
  /* margin-top: 100px; */
  /*  max-width: 700px; */
  /* position: relative; */
  text-align: center;
  text-transform: uppercase;
  /* width: 90vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nombre,
.apellido {
  display: block;
  font-size: min(25.6vw, 180px);
  line-height: 0.8;
}

.nombre {
  /* font-size: 300px; */
  color: #ffe742;
  box-sizing: border-box;
  margin: 0;
}

.apellido {
  background: #ffe742;
  /* color: #171321; */
  /* font-size: min(13.2vw, 102.5px); */
  font-size: 105px;
  line-height: 1;
  margin: 0;
  padding: 0 0.5rem;
  transition: 2000ms background;
}

.portfolio {
  font-size: min(8.48vw, 66px);
  /* font-size: 132px; */
  line-height: 0.85;
  margin: 0.125rem -0.125rem 0;
  color: #ffe742;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
  /* padding: 300px; */
  /* margin: 15px 0px 0px; */
  border-top: 1px solid #3f3f3f;
}
.bio-text{
  margin-left: 50px;
  margin-right: 50px;
}
.photo{
  margin-right: 50px;
}
p,
.redes,
i {
  color: white;
  font-size: 17.5px;
}
.photo img {
  border-radius: 100%;
  width: 400px;
  height: 400px;
}

#projects {
  height: 100vh;
  display: flex;
  align-items: center;
  border-top: 1px solid #3f3f3f;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}
.projects {
  display: flex;
  align-items: center;
}
.projects button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.mySlides img {
  /* width: 600px;
  height: 600px;
  padding: 20px; */
  width: 100%;
  height: 100%;
  padding: 50px;
}
.description {
  color: white;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.prev,
.next {
  cursor: pointer;
  /* position: absolute; */
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: solid #fff 2px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.elements {
  /* text-align: center; */
  padding: 20px;
}
.quadrate {
  cursor: pointer;
  height: 8px;
  width: 50px;
  margin: 0 2px;
  background-color: #717171;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 2px;
}
.active,
.quadrate:hover {
  background-color: #fff;
}

#contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 20px; */
  border-top: 1px solid #3f3f3f;
}
.bio-connect {
  margin: 50px 0px 7.5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.3em;
}

.social {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social :hover {
  color: #ffe742;
}

.red {
  display: block;
  padding: 0.75rem;
  transition: all 200ms linear;
  transition-delay: 150ms;
}

/* footer {
  width: 100%;
  border-top: 4px solid #961d6e;
  background-color: rgba(9, 8, 13, 0.99);
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footer-logo img {
  height: 80px;
  margin-bottom: 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
} */
footer {
  width: 100%;
  background-color: rgba(30, 27, 31, 0.99);
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
}
.content-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.name-footer {
  font-size: 1.5rem;
  color: #ffe742;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}
.content-footer img {
  height: 80px;
}

@media (max-width: 768px) {
  .container .btn-menu label {
    display: block;
  }
  .container .menu {
    display: none;
  }
  /* header {
    height: 70px;
  } */
  #home {
    height: 100vh;
  }
  .apellido {
    font-size: min(13.2vw, 102.5px);
  }
  #about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 20px; */
    /* margin: 15px 0px 0px; */
    border-top: 1px solid #3f3f3f;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
  }
  .bio-text {
    padding: 5px;
    text-align: center;
  }
  .bio-text{
    margin-left: 0;
    margin-right: 0;
  }
  .photo{
    margin-right: 0;
  }
  #about img {
    width: 300px;
    height: 300px;
    margin-top: 25%;
  }
  .mySlides img {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .mySlides .description {
    width: 100%;
  }
  .prev,
  .next {
    padding: 5px;
  }
}
